<section class="pb-4 py-3">
    <h2 class="text-center">Conheça todas as nossas facilidades</h2>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-3 px-3">
        <div class="div-formato-celular d-flex align-items-center">
            <div><i class="bi bi-x-diamond fs-1"></i></div>
            <div>
                <div class="ms-3 mb-1">PAGUE PELO PIX</div>
                <div class="texto-menor ms-3">Ganhe 5% OFF em
                    pagamentos via PIX.</div>
            </div>
        </div>
        <div class="div-formato-celular d-flex align-items-center">
            <div><i class="bi bi-credit-card fs-1"></i></div>
            <div>
                <div class="ms-3 mb-1">ACEITAMOS CARTÃO DE CREDITO</div>
                <div class="texto-menor ms-3">Cartão com acrescimo de 6%.</div>
            </div>
        </div>
        <div class="div-formato-celular d-flex align-items-center">
            <div><i class="bi bi-flower1 fs-1"></i></div>
            <div>
                <div class="ms-3 mb-1">PRAZO DE ENTREGA</div>
                <div class="texto-menor ms-3">A combinar.</div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center bg-secondary-subtle">
    <p class="py-3">2024 <i class="bi bi-c-circle"></i> Desenvolvido por Leandro Laureano Durães | Projeto solicitado pela empresa Sua Cara custom paper.</p>
</footer>